* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Customize these for themes? */
:root {
  --baseColor: #101010;
  --overlayColor: #1e1e1e;
  --highlightColor: #1f1f1f;
  --playBarColor: #5c4bb9;
  --lightTextColor: #7a7a6f;
  --mediumTextColor: #cacab8;
  --highlightTextColor: #FFF;
}

.elidedText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container {
  position: absolute;
  top: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.leftSide {
  flex-shrink: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rightSide {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;

  align-self: flex-end;
  height: 100%;
  background-color: var(--baseColor);
  color: var(--highlightTextColor);

  /* Change to resize width */
  min-width: 380px;
  width: 380px;
}

.playlistHead {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: var(--overlayColor);
}

.mainView {
  background-color: var(--baseColor);
  color: var(--lightTextColor);
  height: 100%;
  overflow-y: scroll;
}

.mainView > div {
  display: flex;
  flex-direction: column;
}

.song {
  display: grid;
  cursor: default;

  /* This needs to be adjusted when adding or removing columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  /* For tags */
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.song:hover {
  background-color: var(--highlightColor);
}

#playBar {
  position:relative;
  bottom: 0;
  left: 0;
  background-color: var(--playBarColor);
  width: 100%;
  height: 58px;
}

.topHalf {
  display: flex;
  justify-content: space-around;
}

#seekBar {
  width: 100%;
}

.nowPlaying {
  font-size: 14pt;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;

  p, h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  p {
    color: var(--mediumTextColor);
  }

  img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100%;
    display: block;
  }
}

.artworkWrapper {
  box-sizing: border-box;
  aspect-ratio: 1;
  border: 1px solid #333;
  margin: 1%;
}

.Queue {
  position: relative;
  background-color: var(--overlayColor);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.queueSongButton {
  height: 15%;
  padding: 0%;
  margin: 0%;
}

.queueSong {
  height: 100px;
  width: 100%;
  display: flex;
}

.queueSongCoverArt {
  aspect-ratio: 1;
  object-fit: contain;
  max-width: 75px;
  padding: 5px;
  box-sizing: border-box;
}

.queueSongTags {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 5px;
  font-size: 14pt;
  padding: 5px 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.queueSongTags p:first-child {
  font-weight: bold;
  color: var(--highlightTextColor);
}

.queueSongTags p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  color: var(--mediumTextColor);
}
