* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Customize these for themes? */
:root {
  --baseColor: #101010;
  --overlayColor: #1e1e1e;
  --highlightColor: #1f1f1f;
  --playBarColor: #5c4bb9;
  --lightTextColor: #7a7a6f;
  --mediumTextColor: #cacab8;
  --highlightTextColor: #FFF;

  --bottomBarHeight: 52px;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  position: relative;
  flex-direction: row;
  height: calc(100% - var(--bottomBarHeight));
  width: 100%;
}

.leftSide {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rightSide {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  height: 100%;

  background-color: var(--baseColor);
  color: var(--highlightTextColor);

  /* Change to resize width */
  width: 350px;
}

.bottom {
  display: block;
  width: 100%;
}

.playlistHead {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: var(--overlayColor);
}

.mainView {
  background-color: var(--baseColor);
  color: var(--lightTextColor);
  height: 100%;
  overflow-y: scroll;
}

.mainView > div {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.song {
  display: grid;
  cursor: default;

  /* This needs to be adjusted when adding or removing columns */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;

  /* For tags */
  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.song:hover {
  background-color: var(--highlightColor);
}

.playBar {
  position: relative;
  background-color: var(--playBarColor);
  width: 100%;
  height: var(--bottomBarHeight);
  display: flex;

  .seekBar {
    display: block;
    width: calc(100% - 300px);
    background-color: rgba(255, 255, 255, .2);
    position: absolute;
    left: 300px;
    height: 15px;
  }

  .seekOverlay {
    display: block;
    width: 50%;
    background-color: rgba(255, 255, 255, 1);
    height: 100%;
  }

  .bottomSpaced {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .bottomLeft {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
  }

  .bottomRight {
    display: flex;
    justify-content: space-around;
  }

  button {
    background: unset;
    border: unset;
    font-size: 30px;
    width: 50px;
    height: 100%;
    margin-right: 15px;
    color: #FFF;
  }
}

#seekBar {
  width: 100%;
}

.nowPlaying {
  font-size: 14pt;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 5px;

  p, h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  p {
    color: var(--mediumTextColor);
  }

  img {
    aspect-ratio: 1;
    object-fit: contain;
    width: 100%;
    display: block;
  }
}

.artworkWrapper {
  box-sizing: border-box;
  aspect-ratio: 1;
  border: 1px solid #333;
  margin: 1%;
}

.Queue {
  position: relative;
  background-color: var(--overlayColor);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.queueSongButton {
  height: 15%;
  padding: 0%;
  margin: 0%;
}

.queueSong {
  height: 100px;
  width: 100%;
  display: flex;
}

.queueSongCoverArt {
  aspect-ratio: 1;
  object-fit: contain;
  max-width: 75px;
  padding: 5px;
  box-sizing: border-box;
}

.queueSongTags {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 5px;
  font-size: 14pt;
  padding: 5px 0;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.queueSongTags p:first-child {
  font-weight: bold;
  color: var(--highlightTextColor);
}

.queueSongTags p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  color: var(--mediumTextColor);
}

.unselectable {
  -webkit-user-select: none;
  user-select: none;
}